<header>

  <mat-toolbar class="sticky-header">
    <img style="width: 48px; height:48px;" src="../../assets/diamondhands_logo.png" alt="">
    <span class="d-none d-sm-block">
      Diamond Hands Esport
    </span>
    <span class="example-spacer"></span>

    <div class="d-none d-md-block">
      <a
        mat-stroked-button
        class="m-2"
        href="https://twitter.com/diamondhandsorg"
        target="_blank"
        style="background-color: #1D9BF0; color: white;"
      >
        <img
          style="height:16px; margin-right: 4px;"
          src="../../assets/twitter_white_icon.svg"
          alt=""
          class=""
        >
        Twitter
      </a>
      <a
        mat-stroked-button
        href="https://discord.gg/57nDY3Vq8c"
        target="_blank"
        style="background-color: #5865F2; color: white;"
        class="m-2"
      >
        <img
          style="height:16px; margin-right: 4px;"
          src="../../assets/discord_white.png"
          alt=""
          class=""
        >
        Discord
      </a>
    </div>

    <div class="d-block d-md-none">
      <a
        mat-button
        href="https://twitter.com/diamondhandsorg"
        target="_blank"
      >
        <img
          style="width: 36px; height:36px;"
          src="../../assets/twitter_blue.svg"
          alt=""
        >
      </a>
      <a
        mat-stroked-button href="https://discord.gg/57nDY3Vq8c"
        target="_blank"
        style="background-color: #5865F2; color: white;"
        class="m-1"
      >
        Discord
      </a>
      <a
      mat-button
      href="https://www.patreon.com/diamondhandsesports"
      target="_blank"
      style="border-color: #FF424D; border: 1px"
    >
      <img
        style="width: 24px; height:24px;"
        src="../../assets/patreon.png"
        alt=""
      >
    </a>
    </div>
  </mat-toolbar>

</header>
