
<div class="container-fluid" style="background-color: #e9e9e9;">
  <div class="container">
    <div class="row">
      <div class="mt-5 pb-2"></div>

      <div class="col-sm-4 col-md-4 col-lg-2 pb-2">
        <p class="mat-caption"> <b>DIAMOND HANDS</b></p>
        <img style="width: 96px; height:96px;" src="https://images.squarespace-cdn.com/content/v1/60a3c54f8e37fb4b46c571e6/1621346352794-ABLHO8J3NGAJQZVSXG11/DiamondHands_2.png?format=750w" alt="">

      </div>

      <div class="col-sm-4 col-md-4 col-lg-6 offset-lg-1">
        <p class="mat-caption"> <b>CONTACT</b></p>
        <a
          mat-flat-button
          class="m-2"
          href="mailto:diamondhandsesports@gmail.com?Subject=A question about Diamond Hands Esports"
          style="background-color: #666; color: white;"
        >
          <mat-icon style="margin-right: 8px;">email</mat-icon>
          Mail us
        </a>
        <a
        mat-stroked-button href="https://discord.gg/57nDY3Vq8c"
        target="_blank"
        style="background-color: #5865F2; color: white;"
        class="m-2"
      >
        <img
        style="height:24px; margin-right: 8px;"
        src="../../assets/discord_white.png"
        alt=""
        class=""
        >
        Discord
      </a>

        <a
          mat-flat-button
          class="m-2"
          href="https://twitter.com/diamondhandsorg"
          target="_blank"
          style="background-color: #1D9BF0; color: white;"
        >
          <img
            style="height:16px; margin-right: 8px;"
            src="../../assets/twitter_white_icon.svg"
            alt=""
            class=""
          >
          Twitter
        </a>

      </div>

      <!-- <div class="col-sm-4 col-md-4 col-lg-3 offset-lg-1">
        <p class="mat-caption"> <b>THX 4 COMING BY</b></p>
        <div class="d-flex flex-row align-self-center">
          <p class="mat-h3">
            Made with
          </p>
          <mat-icon color="warn" style="margin-left: 4px; margin-right: 4px;">favorite</mat-icon>
          <p class="mat-h3">
            and
          </p>
          <mat-icon color="primary" style="margin-left: 4px; margin-right: 4px;">diamond</mat-icon>
          <p class="mat-h3">
            by Chris & Martin.
          </p>
        </div>
        <p class="mat-h3">
          Made with
          <mat-icon color="warn" style="margin-left: 4px; margin-right: 4px;">favorite</mat-icon>
          and
          <mat-icon color="primary" style="margin-left: 4px; margin-right: 4px;">diamond</mat-icon>
          by Chris & Martin.
        </p>
      </div> -->

      <div class="mt-2 pb-5"></div>
    </div>
  </div>
</div>
