  <!-- Background image -->
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('../../../assets/backgroundimage.jpg');
      height: 90vh;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <img src="..." class="img-fluid" src="../../../assets/diamondhands_logo.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->