<div class="container-fluid bg-light">
    <div class="container">
  
      <div class="row">
        <!-- <div class="mt-5 pb-5"></div> -->
        <div class="d-flex flex-column justify-content-center align-items-center mt-5">
          <h1 class="mat-display-2 mt-5">Our Organization</h1>
          <h1 class="d-flex flex-row align-items-center">
              <img class="d-none d-lg-block" style="width: 96px; height:96px; margin-left: -24px;" src="../../../assets/diamondhands_logo.png" alt="">
              <img class="d-block d-lg-none" style="width: 96px; height:96px;" src="../../../assets/diamondhands_logo.png" alt="">
            Diamond Hands Esports
          </h1>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-6 mt-5">
          <img class="mat-elevation-z8 img-fluid" style="height: 500px; object-fit: cover; border-radius: 8px;" src="../../../assets/diamondhands_render.jpg">
        </div>

        <div class="col-lg-4 offset-lg-1 mt-5">
          <h3 class="pb-2">Diamond Hands is a bond of friendship. A nexus of spirit. The dream to unite eager competition and a place to call home, to unite realness and good storylines. A contemporary place for humans to come together. </h3>
          <div class="d-flex">
            <mat-icon style="height: 48px; width: 48px; font-size: 48px;">format_quote</mat-icon>
          </div>
          <div class="d-flex flex-column">
            <p class="mat-body-2">We raised from an emergency situation during the first quarter of 2021. In the urge of creating a new home and the Gamestop Wallstreetbets meme happening, we decided on the team name Diamond Hands. It is a big meme for sure but for us also an important message.</p>
            <p class="mat-body-2">If you have something valuable to you, keep it and be loyal to it. No matter how bad the situation is looking. For us these are mainly our players and our friends and family around us who we want to “diamond hand”.</p>
            <p class="mat-body-2">Memes rise and die swiftly and the diamond hands meme is already from yesterday. But the message will stay for us until eternity.</p>
            <p class="mat-body-1">CHRISTOPHER KRAFT, CEO DIAMOND HANDS ESPORTS</p>
          </div>
        
        </div>
      </div>

      <div class="mt-5 pb-5"></div>
      <div class="mt-5 pb-5"></div>

      <!-- <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="d-flex flex-column  mt-5">
            <h1 class="pb-5">
              <img style="width: 96px; height:96px;" src="https://images.squarespace-cdn.com/content/v1/60a3c54f8e37fb4b46c571e6/1621346352794-ABLHO8J3NGAJQZVSXG11/DiamondHands_2.png?format=750w" alt="">
              Diamond Hands Esports
            </h1>
            <h3 class="mt-2">Diamond Hands is a bond of friendship. A nexus of spirit. The dream to unite eager competition and a place to call home, to unite realness and good storylines. A contemporary place for humans to come together. </h3>
            <div class="d-flex mt-5">
              <mat-icon style="height: 48px; width: 48px; font-size: 48px;">format_quote</mat-icon>
              <div class="d-flex flex-column" style="margin-left: 10px;">
                <p class="mat-body-2">We raised from an emergency situation during the first quarter of 2021. In the urge of creating a new home and the Gamestop Wallstreetbets meme happening, we decided on the team name Diamond Hands. It is a big meme for sure but for us also an important message.</p>
                <p class="mat-body-2">If you have something valuable to you, keep it and be loyal to it. No matter how bad the situation is looking. For us these are mainly our players and our friends and family around us who we want to “diamond hand”.</p>
                <p class="mat-body-2"> Memes rise and die swiftly and the diamond hands meme is already from yesterday. But the message will stay for us until eternity.</p>
                <p class="mat-caption">CHRISTOPHER KRAFT, CEO</p>
              </div>
            </div>
          </div>
        </div>
      </div> -->
  
      <!-- <div class="row">
        <div class="col-lg-5">
          <h1 class="pb-5">
            <img style="width: 96px; height:96px;" src="https://images.squarespace-cdn.com/content/v1/60a3c54f8e37fb4b46c571e6/1621346352794-ABLHO8J3NGAJQZVSXG11/DiamondHands_2.png?format=750w" alt="">
            Diamond Hands Esports
          </h1>
          <h3 class="mt-2">Diamond Hands is a bond of friendship. A nexus of spirit. The dream to unite eager competition and a place to call home, to unite realness and good storylines. A contemporary place for humans to come together. </h3>
        </div>
        <div class="offset-lg-1 col-lg-6">
          <div class="d-flex">
            <mat-icon style="height: 48px; width: 48px; font-size: 48px;">format_quote</mat-icon>
            <div class="d-flex flex-column" style="margin-left: 10px;">
              <p class="mat-body-2">We raised from an emergency situation during the first quarter of 2021. In the urge of creating a new home and the Gamestop Wallstreetbets meme happening, we decided on the team name Diamond Hands. It is a big meme for sure but for us also an important message.</p>
              <p class="mat-body-2">If you have something valuable to you, keep it and be loyal to it. No matter how bad the situation is looking. For us these are mainly our players and our friends and family around us who we want to “diamond hand”.</p>
              <p class="mat-body-2"> Memes rise and die swiftly and the diamond hands meme is already from yesterday. But the message will stay for us until eternity.</p>
              <p class="mat-caption">CHRISTOPHER KRAFT, CEO</p>
            </div>
          </div>
        </div>
      </div> -->

    </div>
  </div>